<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v1 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->

</head>

<body>

    <div class="wrapper" style="background-image: url('/localpictures/bg-registration-form-1.jpg');">

        <div class="inner">
            <div class="image-holder">
                <img src="/localpictures/1ชิ้น นาฬิกาข้อมือผู้ชาย สแตนเลส แบบสบาย ๆ พร้อมเขม็ที่เรืองแสง กันน้ำ มาพร้อมกล่อง เป็นของขวัญสำหรับนักเรียนที่กลับไปโรงเรียน.jpeg"
                    alt="" style="border-radius: 5px;">
            </div>
            <form onsubmit="return userlogin(event)">
                <h3>Login</h3>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                {{#if error}}

                <script>
                    console.log('this is the error ')
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning',
                        text: '{{error}}'
                    });
                </script>
                {{/if}}


                {{!-- <div class="form-wrapper">
                    <input type="text" placeholder="Username" id="Name" name="username" class="form-control">
                    <i class="zmdi zmdi-account"></i>
                </div> --}}
                <div class="form-wrapper" style="margin-top: 80px;">
                    <input type="Email" placeholder="Email Address" name="Email" id="exampleInputEmail1"
                        class="form-control">
                    <i class="zmdi zmdi-email"></i>
                </div>

                <div class="form-wrapper">
                    <input type="password" placeholder="Password" id="pass" name="password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                {{!-- <div class="form-wrapper">
                    <input type="password" placeholder="Confirm Password" id="repass" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div> --}}
                <button type="submit" onclick="return validation()" style="margin-bottom: 5px;">Login
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <a href="/user/register" style="margin-top: 5px;margin-left:55px">Don't you have an accound?</a>

            </form>
            <!-- Google Sign-In Option -->
            <div class="google-signin-wrapper">
                <button class="google-signin-btn" style="margin-top: 165px;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                        alt="Google Logo" class="google-logo">
                    <a href="/auth/google" style="text-decoration: none;">Sign in with Google</a>
                </button>
            </div>



        </div>
    </div>
    <style>
        .google-signin-wrapper {
            margin-top: 10px;
            text-align: center;
        }

        .google-signin-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
            color: #555;
            transition: background-color 0.3s ease;
            width: fit-content;
            margin: 0 auto;
        }

        .google-signin-btn:hover {
            background-color: #f7f7f7;
        }

        .google-logo {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function userlogin(event) {
            event.preventDefault()

            let x = document.getElementById('exampleInputEmail1').value.trim();
            
            let z = document.getElementById('pass').value;

            $.ajax({
                type: 'POST',
                url: '/user/userlogin',
                data: {
                    Email: x,

                    password: z

                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'sucessfully loggin',
                            message: response.message,
                            showConfirmButton: false,
                            timer: 1500

                        }).then(() => {
                            window.location.href = response.redirectUrl
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'An Error Occured',
                            text: response.message

                        })
                    }
                }
            })


            return false
        }
    </script>

    <script>

        function validation() {
            let name = document.getElementById('Name').value;
            let password = document.getElementById('pass').value;
            let confirmPassword = document.getElementById('repass').value;


            let nameRegex = /^[A-Za-z\s]+$/;


            if (!nameRegex.test(name.trim())) {
                { { !--alert('Name must contain only alphabets and spaces'); --} }
                Swal.fire({
                    icon: 'error',
                    title: 'An Error Occured',
                    text: 'name must be contain only alpabets and spaces'

                })
                return false;
            }


            if (password.length < 6) {
                Swal.fire({
                    icon: 'error',
                    title: 'An Error Occured',
                    text: 'pasword must me six or more chharactors'

                })
                return false;
            }

            if (password !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'An Error Occured',
                    text: 'password does not match'

                })
                return false
            }



            return true;
        }


    </script>

    <style>
        @font-face {
            font-family: "Poppins-Regular";
            src: url("../fonts/poppins/Poppins-Regular.ttf");
        }

        @font-face {
            font-family: "Poppins-SemiBold";
            src: url("../fonts/poppins/Poppins-SemiBold.ttf");
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            font-family: "Poppins-Regular";
            color: #333;
            font-size: 13px;
            margin: 0;
        }

        input,
        textarea,
        select,
        button {
            font-family: "Poppins-Regular";
            color: #333;
            font-size: 13px;
        }

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul {
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        a:hover {
            text-decoration: none;
        }

        :focus {
            outline: none;
        }

        .wrapper {
            min-height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
        }

        .inner {
            padding: 20px;
            background: #fff;
            max-width: 850px;
            margin: auto;
            display: flex;
        }

        .inner .image-holder {
            width: 50%;
        }

        .inner form {
            width: 50%;
            padding-top: 36px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .inner h3 {
            text-transform: uppercase;
            font-size: 25px;
            font-family: "Poppins-SemiBold";
            text-align: center;
            margin-bottom: 28px;
        }

        .form-group {
            display: flex;
        }

        .form-group input {
            width: 50%;
        }

        .form-group input:first-child {
            margin-right: 25px;
        }

        .form-wrapper {
            position: relative;
        }

        .form-wrapper i {
            position: absolute;
            bottom: 9px;
            right: 0;
        }

        .form-control {
            border: 1px solid #333;
            border-top: none;
            border-right: none;
            border-left: none;
            display: block;
            width: 100%;
            height: 30px;
            padding: 0;
            margin-bottom: 25px;
        }

        .form-control::-webkit-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control::-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-ms-input-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        .form-control:-moz-placeholder {
            font-size: 13px;
            color: #333;
            font-family: "Poppins-Regular";
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            padding-left: 20px;
        }

        select option[value=""][disabled] {
            display: none;
        }

        button {
            border: none;
            width: 164px;
            height: 51px;
            margin: auto;
            margin-top: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: #333;
            font-size: 15px;
            color: #fff;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

        button i {
            margin-left: 10px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        button:hover i,
        button:focus i,
        button:active i {
            -webkit-animation-name: hvr-icon-wobble-horizontal;
            animation-name: hvr-icon-wobble-horizontal;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

        @-webkit-keyframes hvr-icon-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(6px);
                transform: translateX(6px);
            }

            33.3% {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }

            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }

            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }

            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }

        @keyframes hvr-icon-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(6px);
                transform: translateX(6px);
            }

            33.3% {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }

            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }

            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }

            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }

        @media (max-width: 1199px) {
            .wrapper {
                background-position: right center;
            }
        }

        @media (max-width: 991px) {
            .inner form {
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        @media (max-width: 767px) {
            .inner {
                display: block;
            }

            .inner .image-holder {
                width: 100%;
            }

            .inner form {
                width: 100%;
                padding: 40px 0 30px;
            }

            button {
                margin-top: 60px;
            }
        }

        /*# sourceMappingURL=style.css.map */
    </style>
    <style>
        @font-face {
            font-family: "Poppins-Regular";
            src: url('../fonts/poppins/Poppins-Regular.ttf');
        }

        @font-face {
            font-family: "Poppins-SemiBold";
            src: url('../fonts/poppins/Poppins-SemiBold.ttf');
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            font-family: "Poppins-Regular";
            color: #333;
            font-size: 13px;
            margin: 0;
        }

        input,
        textarea,
        select,
        button {
            font-family: "Poppins-Regular";
            color: #333;
            font-size: 13px;
        }

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul {
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        a:hover {
            text-decoration: none;
        }

        :focus {
            outline: none;
        }

        .wrapper {
            min-height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
        }

        .inner {
            padding: 20px;
            background: #fff;
            max-width: 850px;
            margin: auto;
            display: flex;

            .image-holder {
                width: 50%;
            }

            form {
                width: 50%;
                padding-top: 36px;
                padding-left: 45px;
                padding-right: 45px;
            }

            h3 {
                text-transform: uppercase;
                font-size: 25px;
                font-family: "Poppins-SemiBold";
                text-align: center;
                margin-bottom: 28px;
            }
        }

        .form-group {
            display: flex;

            input {
                width: 50%;

                &:first-child {
                    margin-right: 25px;
                }
            }
        }

        .form-wrapper {
            position: relative;

            i {
                position: absolute;
                bottom: 9px;
                right: 0;
            }
        }

        .form-control {
            border: 1px solid #333;
            border-top: none;
            border-right: none;
            border-left: none;
            display: block;
            width: 100%;
            height: 30px;
            padding: 0;
            margin-bottom: 25px;

            &::-webkit-input-placeholder {
                font-size: 13px;
                color: #333;
                font-family: "Poppins-Regular";
            }

            &::-moz-placeholder {
                font-size: 13px;
                color: #333;
                font-family: "Poppins-Regular";
            }

            &:-ms-input-placeholder {
                font-size: 13px;
                color: #333;
                font-family: "Poppins-Regular";
            }

            &:-moz-placeholder {
                font-size: 13px;
                color: #333;
                font-family: "Poppins-Regular";
            }
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            padding-left: 20px;

            option[value=""][disabled] {
                display: none;
            }
        }

        button {
            border: none;
            width: 164px;
            height: 51px;
            margin: auto;
            margin-top: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: #333;
            font-size: 15px;
            color: #fff;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;

            i {
                margin-left: 10px;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
            }

            &:hover,
            &:focus,
            &:active {
                i {
                    -webkit-animation-name: hvr-icon-wobble-horizontal;
                    animation-name: hvr-icon-wobble-horizontal;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
                }
            }
        }

        @-webkit-keyframes hvr-icon-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(6px);
                transform: translateX(6px);
            }

            33.3% {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }

            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }

            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }

            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }

        @keyframes hvr-icon-wobble-horizontal {
            16.65% {
                -webkit-transform: translateX(6px);
                transform: translateX(6px);
            }

            33.3% {
                -webkit-transform: translateX(-5px);
                transform: translateX(-5px);
            }

            49.95% {
                -webkit-transform: translateX(4px);
                transform: translateX(4px);
            }

            66.6% {
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);
            }

            83.25% {
                -webkit-transform: translateX(1px);
                transform: translateX(1px);
            }

            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }

        @media (max-width: 1199px) {
            .wrapper {
                background-position: right center;
            }
        }

        @media (max-width: 991px) {
            .inner form {
                padding-top: 10px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        @media (max-width: 767px) {
            .inner {
                display: block;

                .image-holder {
                    width: 100%;
                }

                form {
                    width: 100%;
                    padding: 40px 0 30px;
                }
            }

            button {
                margin-top: 60px;
            }
        }
    </style>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>